body{
    background: #fff;
}
.question{
    border: 1px solid #ddd;
}
.question span{
    display: inline-block;
}
.question input{
    width: 80%;
    display: inline-block;
}
.btn{
    display: block;
    margin: auto;
    width: 90%;
    padding: 10px;
    cursor: pointer;
}